.depend
deepsec
deepsec_api
deepsec_worker
test_deepsec
index_old.html

*.js
*.cmi
*.cmt
*.cmti
*.cmx
*.o
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.pdf
*.gz
*.DS_Store
*.native

database

Source/interface/grammar_ui.ml
Source/interface/grammar_ui.mli
Source/interface/grammar_ui.output
Source/interface/lexer_ui.ml
Source/parser/grammar.ml
Source/parser/grammar.mli
Source/parser/grammar.output
Source/parser/lexer.ml
Source/testing/testing_grammar.ml
Source/testing/testing_grammar.mli
Source/testing/testing_grammar.output
Source/testing/testing_lexer.ml
Source/core_library/config.ml

# documentation/Core_library.tex
# documentation/Subterms.tex
# documentation/Testing.tex
# documentation/Distributed.tex
# documentation/main.aux

index.html
testing_data/tests_to_check/*
testing_data/testing.html
testing_data/validated_tests/*.html
testing_data/validated_tests/*.js
testing_data/faulty_tests/*
result


Examples/Benchmark/.*
Examples/Benchmark/bench_*

worker_deepsec
manager_deepsec


# other files
*_build
/Examples/session_equivalence/tests/scratch.dps
/documentation/files/*
!/documentation/files/.content
