.depend
deepsec
test_deepsec

*.js
*.cmi
*.cmt
*.cmti
*.cmx
*.o
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.pdf
*.gz

Source/parser/grammar.ml
Source/parser/grammar.mli
Source/parser/grammar.output
Source/parser/lexer.ml
Source/testing/testing_grammar.ml
Source/testing/testing_grammar.mli
Source/testing/testing_grammar.output
Source/testing/testing_lexer.ml

Documentation/Core_library.tex
Documentation/Subterms.tex
Documentation/Testing.tex
Documentation/main.aux

index.html
testing_data/tests_to_check/*
testing_data/testing.html
testing_data/validated_tests/*.html
testing_data/validated_tests/*.js
testing_data/faulty_tests/*
result
