.depend
deepsec
test_deepsec

*.html
*.js
*.cmi
*.cmt
*.cmti
*.cmx
*.o

Source/parser/grammar.ml
Source/parser/grammar.mli
Source/parser/grammar.output
Source/parser/lexer.ml
Source/testing/testing_grammar.ml
Source/testing/testing_grammar.mli
Source/testing/testing_grammar.output
Source/testing/testing_lexer.ml
